<div class="central"> 

  <h1> come back soon </h1>
  <div style="display: inline-block">
    <form action="/">
      <input type="submit" value="Home" class="button goodbye">
    </form>
  </div>
  <div style="display: inline-block">
    <form action="/feed">
      <input type="submit" value="Feed" class="button goodbye">
    </form>
  </div>

</div>
