<div style="float: right; padding: 5px">
  <form action='/users/new'>
    <input type="submit" value="Sign up" class="button" id="sign_up">
  </form>
</div>

<div class="central"> 
  <div class="title">
    chitter
  </div>

  <form action='/' method="post">
    <input type="text" name="email" placeholder="email" class="text_field"> </br>
    <input type="password" name="password" placeholder="password" class="text_field"> </br>
    <input type="submit" value="Sign in" class="button" id="sign_in">
  </form>
</div>