<div class="title_logo">
  chitter
</div>

<div class="central"> 
  <form action='/users' method='post' class="sign_in_form">
    <input type='text' name='name' value='<%= @user.name %>' placeholder="name" class="text_field sign_up_page"> </br>
    <input type='text' name='email' value='<%= @user.email %>' placeholder="email" class="text_field sign_up_page"> </br>
    <input type='text' name='username' value='<%= @user.username %>' placeholder="username" class="text_field sign_up_page"> </br>
    <input type='password' name= 'password' placeholder="password" class="text_field sign_up_page"> </br>
    <input type='password' name='password_confirmation' placeholder="retype password" class="text_field sign_up_page"> </br>
    <input type="submit" value="Sign up" class="button" id="sign_up_page_button">
  </form>
</div>